@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.LandingPage {
  display: grid;
  font-family: "Roboto Slab", serif;
  color: white;
  background: url("../Resources/BackgroundImage.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.NavBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  position: sticky;
  top: 0;
}

.Scrolled {
  background-color: black;
  color: white;
}

.NavBarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Home:hover {
  cursor: pointer;
}

.Home > h4 {
  margin: auto;
}

.Sections {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sections > p {
  padding: 0 10px 0 10px;
  margin: auto;
}

.LandingArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.HeroTitle {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroTitle > p {
  font-weight: normal;
  font-size: 18px;
}

.InfoArea {
  text-align: center;
  background-color: white;
  color: black;
}

.InfoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.AboutTitle {
  padding-bottom: 50px;
}

.SkillsArea {
  text-align: center;
}

.SkillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skill > img {
  height: 50px;
  width: 50px;
}

.ProjectsArea {
  background-color: white;
  color: black;
  text-align: center;
}

.ProjectsHeader {
  padding-bottom: 50px;
}

.ProjectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectTitles {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  padding-bottom: 50px;
}

.ProjectTitles > h2:hover {
  cursor: pointer;
}

.CarouselDiv {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.Slider > img {
  width: 1500px;
  height: 800px;
}

.Slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NaviArrow:hover {
  cursor: pointer;
}

.Invisible {
  display: none;
}

.Inactive {
  display: none;
}

.Selected {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
